/* Imported Style Sheets */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&display=swap');

/* Containers */

body, h1 { 
	margin: 0; 
	padding: 0; 
	font-family: 'Indie Flower', cursive;}

main { 
	border: 5px dashed #000;
	margin: 4rem;}

div { display: flex;}

section { 
	margin: 4rem 0rem 0rem 3rem;
	padding: 3rem 3rem 0rem 3rem;}

section:last-of-type {margin-right: 3rem;}

/* Typography */
h1, h2 {font-family: 'Bebas Neue', cursive;}

h1 { 
	font-size: 9rem;
	letter-spacing: 0.1em;	
	
	background: #fff;	
	position: absolute;
	left: 4rem;
	top: 2rem;}

h2 { 
	font-size: 2.5rem;
	line-height: 1.3;}

h3 { font-size: 2rem;}

p { font-size: 1.5rem;}

/* Making it Responsive */
@media only screen and (max-width: 1275px) { div { flex-wrap: wrap;} }